<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetCurrenciesDetails</servlet-name>
        <servlet-class>pl.pt.put.poznan.servlets.GetCurrenciesDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCurrenciesDetails</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCurrencyLogo</servlet-name>
        <servlet-class>pl.pt.put.poznan.servlets.GetCurrencyLogo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCurrencyLogo</servlet-name>
        <url-pattern>/logo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Storage</servlet-name>
        <servlet-class>pl.pt.put.poznan.servlets.Storage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Storage</servlet-name>
        <url-pattern>/storage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
