<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetCurrenciesDetails</servlet-name>
        <servlet-class>pl.pt.put.poznan.servlets.GetCurrenciesDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCurrencyLogo</servlet-name>
        <servlet-class>pl.pt.put.poznan.servlets.GetCurrencyLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPanel</servlet-name>
        <servlet-class>pl.pt.put.poznan.servlets.AdminPanel</servlet-class>
        <init-param>
            <description>Hasło do panelu administratora</description>
            <param-name>password</param-name>
            <param-value></param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UploadMarketClass</servlet-name>
        <servlet-class>pl.pt.put.poznan.servlets.UploadMarketClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetCrawlerState</servlet-name>
        <servlet-class>pl.pt.put.poznan.servlets.SetCrawlerState</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCurrenciesDetails</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCurrencyLogo</servlet-name>
        <url-pattern>/logo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPanel</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMarketClass</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Lokalizacja foldera z klasami giełd</description>
        <param-name>file-upload</param-name>
        <param-value>
         /home/admin/Webscrapper/src/main/java/pl/pt/put/poznan/webscraper/
      </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>SetCrawlerState</servlet-name>
        <url-pattern>/setcrawlerstate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
